@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('css/slide.css');
@import url('css/sched.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
img, button, a, ul, li {
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
    position: relative;
}
.left-nav {
    display: flex;
    align-items: center;
}
.left-nav .menu-icon {
    width: 40px;
    margin-right: 20px;
}
.left-nav h3 {
    font-size: 30px;
    font-style: italic;
    margin-right: 20px;
}
.left-nav span {
    color: #460303;
    text-decoration: underline;
}
.left-nav .search-box {
    display: flex;
    align-items: center;
    border: 1px solid #5a5a5a;
    border-radius: 50px;
    height: 50px;
}
.left-nav .search-box input {
    width: 300px;
    margin-left: 20px;
    border: 0;
    outline: 0;
}
.left-nav .search-box input::placeholder {
    font-size: 16px;
    color: #5a5a5a;
}
.left-nav .search-box .search-icon {
    width: 30px;
    margin-right: 20px;
}
.left-nav .soc-icons {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.left-nav .soc-icons img {
    width: 40px;
    margin-right: 10px;
}
.right-nav {
    display: flex;
    align-items: center;
}
.right-nav button {
    height: 50px;
    width: 120px;
    border-radius: 50px;
    font-size: 17px;
    border: 0;
    background-color: rebeccapurple;
    color: #fff;
}
.container {
    display: grid;
    grid-template-columns: 70% 30%;
}
.menu-bar {
    width: 120px;
    background: rebeccapurple;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
    position: absolute;
    display: none;
    z-index: 1;
}
.menu-bar ul a {
    color: #fff;
    display: flex;
    margin: 10px;
    font-size: 15px;
    font-weight: 600;
}
.show {
    display: block;
}
.left-content {
    margin-left: 20px;
    margin-right: 10px;
}
.left-content .web-detail {
    background: lightblue;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.left-content .web-detail p {
    font-size: 15px;
}
.left-content .recently-updated h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.left-content .recently-updated .anime-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.left-content .recently-updated .anime-box .box {
    position: relative;
    margin-bottom: 20px;
}
.left-content .recently-updated .anime-box .box img {
    width: 100%;
    border-radius: 5px;
    border: 0;
    object-fit: cover;
}
.left-content .recently-updated .anime-box .box .hd {
    position: absolute;
    background: #fff;
    top: 0;
    padding: 0 5px;
    font-size: 15px;
    font-weight: 600;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.left-content .recently-updated .anime-box .box .ep {
    position: absolute;
    background: rebeccapurple;
    top: 193px;
    padding: 0 5px;
    font-size: 15px;
    font-weight: 600;
    border-top-right-radius: 5px;
    color: #fff;
    border-bottom-left-radius: 5px;
}
.left-content .recently-updated .anime-box .box .sub {
    position: absolute;
    background: goldenrod;
    top: 193px;
    right: 0;
    padding: 0 5px;
    font-size: 15px;
    font-weight: 600;
    border-top-left-radius: 5px;
    color: #fff;
    border-bottom-right-radius: 5px;
}
.left-content .recently-updated .anime-box .box .title {
    text-align: center;
    color: #5a5a5a;
}
.rigth-content {
    margin-right: 20px;
    margin-left: 10px;
}
.quick-filter {
    background: #5a5a5a;
    border-radius: 10px;
}
.quick-filter h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}
.filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.filters .box {
    display: flex;
    align-items: center;
    text-align: center;
    background: #998e8e;
    border-radius: 5px;
    justify-content: center;
    height: 35px;
}
.filters .box p {
    font-size: 13px;
}
.filters .box span {
    font-size: 13px;
    color: #fff;
    margin-left: 3px;
}
.filters .box img {
    width: 20px;
    filter: invert(100%);
}
.filter-search-box {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.filter-search-box input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #998e8e;
    background: transparent;
    padding-left: 10px;
}
.filter-search-box input::placeholder {
    color: #131212;
}
.filter-icon {
    background: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.filter-icon img {
    width: 30px;
    margin: 10px 0;
    filter: invert(100%);
    cursor: pointer;
}
.filter-icon p {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}